@import "../variables";


.code {
  display: flex;
  margin: auto;
  flex-direction: column;
  text-transform: uppercase;
  margin-top: 2rem;
  width: 250px;
  gap: 1rem;
  text-align: center;
  &-info {
    padding: 1rem 2rem;
    border: 1px solid $secondary-color;
  }
  &-live {
    &::before {
      content: "•";
      color: red;
      margin-right: 5px;
    }
  }
}
